
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center">
        <div class="card-header">
          MD5
        </div>
        <div class="card-body">
          <h3 class="card-title">¡Encripte sus palabras!</h3>
          <p class="card-text">
            Escriba la palabra para encriptar
          </p>
          <input type="text" name="message" [(ngModel)]="message">
        </div>
        <div class="buttonClass">
          <button class="btn btn-primary btn-sm buttonEncrypt" (click)="encrypt()">Encriptador</button>
        </div>       
        <div class="result">
          <p class="descriptionResult">Resultado:</p>
          {{messageEncrypted}}
        </div>
        <div class="card-footer text-muted">
          ¡Espero que te guste!
        </div>
      </div>
    </div>
  </div>
</div>



